
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

:root{
    --background-color:#C3C7CA;
    --text-color:#34444F;
    --border-color:#E3E5E4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato',sans-serif;
}

.main{
    background-color: var(--background-color);
    padding: 25px;
    max-width: 460px;
    width: 100%;
    border-radius: 5px;
    width: 90%;

}
.input-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.items {
    background-color: #304B5F;
    padding: 10px 19px 20px  ;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;

}
.items .input-text {
    color: #fff;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;

}
.text{
    font-size: 18px;
    font-weight: 400;
}
.btn{
    background-color:#ff5332;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
}
.btn:nth-child(2){
    background-color: #0091ef;
}
.btn:active{
    transform: scale(0.98);
}

.save-btn{
    background-color: #00ca46;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 8px 8px;
    border: none;
}
.save-btn:active{
    transform: scale(0.98);
}
input{
    border:none;
    outline:none;
    height:34px;
    border-radius:22px;
    width:80%;
    padding:0 18px; 
    font-size: 17px;
    font-family: 'Lato',sans-serif;
    
  }